/*a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
*/
body {
    background-color: blue;
}
h1 {
    color: red;
}
h2 {
    color: green;
}
h3 {
    color: yellow;
}
h4 {
    color: Orange;
}
p {
    color: white;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}